html, body {
  margin: 0;
  padding: 0;
  font-family:monospace ;
}
canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left:0;
  padding-right:0;
}

p{
  color:white
}
h1{
  color:yellow
}
h2{
  color:white
}
body{
background-color: black
}
iframe{
  text-align:right
}